/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    background-image: url("https://i.imgur.com/YxbalUM.png");
    background-size: auto;
    background-repeat: no-repeat;
}